<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="helseopplysninger" />
    <meta name="subject" content="Legeerklæring" />
    <meta name="description" content="Legeerklæring for pleiepenger for sykt barn" />
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            page-break-inside: avoid;
        }

        table {
            margin-bottom: 5px;
            border-spacing: 0;
            border: 1px black solid;
            border-radius: 2px;
        }

        th, td {
            vertical-align: top;
            padding: 5px 0 5px 5px;
        }

        th {
            background-color: #ECEEF0;
        }

        h1, h2, h3, p {
            margin: 15px 0 3px 0;
            padding: 0;
        }

        caption {
            text-align: left;
        }

        span {
            display: block;
            margin-bottom: 10px;
        }

        .logo-wrapper {
            position: absolute;
            top: 0;
            right: 0;
        }

        .logo {
            width: 48px;
        }

        .form-title {
            font-size: 22px;
            font-weight: 600;
        }

        .qr-code {
            width: 60px;
            height: 60px;
        }

        .label-text {
            font-size: 16px;
            font-weight: 600;
        }

        .bold-label {
            font-weight: 600;
        }

        .highlighted-text {
            font-size: 16px;
        }

        .patient-info,
        .patient-details,
        .qr-details,
        .health-info {
            margin: 5px 0;
            width: 100%;
            box-sizing: border-box;
        }

        .patient-details {
            float: left;
            width: 55%;
        }

        .qr-details {
            float: right;
            border: 0;
            width: 40%;
            margin-right: 10px;
        }

        .text-content-container {
            min-height: 100px;
            border: 1px black solid;
            border-radius: 2px;
            overflow-y: auto;
            margin: 5px 0;
        }

        .text-content {
            padding-left: 5px;
            margin-top: 2px;
        }

        .main-diagnosis,
        .additional-diagnosis {
            width: 100%;
        }

        .left-table {
            float: left;
            width: 100%;
        }
        .right-table {
            float: right;
            width: 100%;
        }

        .health-provider-info {
            margin: 5px 0;
        }

        .provider-details {
            position: relative;
            height: auto;
            width: 100%;
        }

        .address,
        td p {
            margin: 0;
        }

        .submission-receipt {
            position: relative;
            margin: 5px 0;
            border: 1px black solid;
            border-radius: 2px;
            padding: 5px;
        }
    </style>
    <title>Pleiepenger for sykt barn</title>
</head>

<body>
<div class="logo-wrapper">
    <img class="logo" src="{{ image "navlogored.png" }}" alt="NAV logo" />
</div>
<div class="title-wrapper">
    <h1 class="form-title">Legeerklæring: pleiepenger for sykt barn</h1>
</div>
<div>
    <div class="patient-info">
        <p class="label-text">Om barnet</p>
        <table class="patient-details">
            <tr>
                <td>
                    <span class="bold-label">Barnets navn</span>
                    <p>{{legeerklæring.pasient.navn.fornavn}} {{legeerklæring.pasient.navn.etternavn}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bold-label">Barnets fødselsnummer/D-nummer</span>
                    <p>{{legeerklæring.pasient.id}}</p>
                </td>
            </tr>
        </table>
        <table class="qr-details">
            <tr>
                <td colspan="2">
                    <p class="label-text">Til deg som skal søke pleiepenger</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="highlighted-text">Skann QR-koden for å komme til søknad om pleiepenger, eller finn søknaden på nav.no</p>
                </td>
                <td>
                    <img class="qr-code" src="{{ image "qrkode.png" }}" alt="QR code" />
                </td>
            </tr>
        </table>
    </div>
    <div class="health-info">
        <div class="health-info-container">
            <p class="label-text">Legens vurdering av barnets tilstand</p>
            <div class="text-content-container">
                <p class="text-content">{{legeerklæring.vurderingAvBarnet}}</p>
            </div>
            <p class="label-text">Legens vurdering av omsorgsperson(er)</p>
            <div class="text-content-container">
                <p class="text-content">{{legeerklæring.vurderingAvOmsorgspersoner}}</p>
            </div>
            <table class="main-diagnosis">
                <caption class="label-text">Hoveddiagnose</caption>
                <tr>
                    <th class="bold-label">Diagnosekode</th>
                    <th class="bold-label">Diagnoseterm</th>
                </tr>
                <tr>
                    <td>{{legeerklæring.hoveddiagnose.kode}}</td>
                    <td>{{legeerklæring.hoveddiagnose.term}}</td>
                </tr>
            </table>
            <table class="additional-diagnosis">
                <caption class="label-text">Bidiagnose(r)</caption>
                <tr>
                    <th class="bold-label">Diagnosekode</th>
                    <th class="bold-label">Diagnoseterm</th>
                </tr>
                {{#each legeerklæring.bidiagnoser}}
                    <tr>
                        <td>{{kode}}</td>
                        <td>{{term}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
        <div class="health-periods-container">
            <table class="left-table">
                <caption class="label-text">Periode(r) for innleggelse(r) på helseinstitusjon</caption>
                <tr>
                    <th class="bold-label">Fra og med dato</th>
                    <th class="bold-label">Til og med dato

                    </th>
                </tr>
                {{#each legeerklæring.innleggelsesPerioder}}
                    <tr>
                        <td>{{fom}}</td>
                        <td>{{tom}}</td>
                    </tr>
                {{/each}}
            </table>
            <table class="right-table">
                <caption class="label-text">Forventet varighet på tilsyns- og pleiebehovet</caption>
                <tr>
                    <th class="bold-label">Fra og med dato</th>
                    <th class="bold-label">Til og med dato</th>
                </tr>
                    <tr>
                        <td>{{legeerklæring.tilsynsPeriode.fom}}</td>
                        <td>{{legeerklæring.tilsynsPeriode.tom}}</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
<div class="health-provider-info">
    <p class="label-text">Opplysninger om lege/sykehuset</p>
    <table class="provider-details">
        <tr>
            <td>
                <span class="bold-label">Legens navn</span>
                <p>{{lege.navn.fornavn}} {{lege.navn.etternavn}}</p>
            </td>
            <td rowspan="2">
                <span class="bold-label">Navn, adresse og telefonnummer til legen/sykehuset</span>
                <div class="address">
                    <p>{{sykehus.navn}}</p>
                    <p>{{sykehus.adresse.gateadresse}}</p>
                    <p>{{sykehus.adresse.gateadresse2}}</p>
                    <p>{{sykehus.adresse.postkode}} {{sykehus.adresse.by}}</p>
                    <p>{{sykehus.tlf}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bold-label">Legens HPR-nummer</span>
                <p>{{lege.hpr}}</p>
            </td>
        </tr>
    </table>
    <div class="submission-receipt">
        <span class="bold-label">Dato for innsending</span>
        <p>{{journalføring.innsendt}}</p>
    </div>
</div>
</body>

</html>