<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="helseopplysninger"/>
    <meta name="subject" content="Legeerklæring"/>
    <meta name="description" content="Legeerklæring for pleiepenger for sykt barn"/>
    <style>
        @page {
            margin: 1cm;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro,
            ArialSystem, sans-serif;
        }

        body {
            display: flex;
            justify-content: space-between;
            font-size: 0.9em;
        }

        table {
            width: 100%;
            margin-bottom: 5px;
            border-spacing: 0;
            border: 1px black solid;
        }

        th, td {
            vertical-align: top;
            padding-left: 5px;
        }

        th {
            background-color: #dddddd;
        }

        h1, h2, h3 {
            margin: 10px 0 3px 0;
            padding: 0;
        }

        caption {
            text-align: left;
        }

        .text_content_container {
            width: 100%;
            height: 40%;
            border: 1px black solid;
            border-radius: 5px;
            overflow-y: auto;
            margin-bottom: 10px;
        }

        .text_content {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            margin: 2px;
            padding-left: 5px;
        }

        .address, td p {
            margin: 0;
        }

        span {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
    <title>Pleiepenger for sykt barn</title>
</head>
<body>
<div class="title-wrapper">
    <h1>Legeerklæring</h1>
    <h3>Pleiepenger for sykt barn</h3>
</div>
<div class="patient_info">
    <div class="patient_container">
        <h3>Om barnet</h3>
        <table>
            <tr>
                <td>
                    <span>Barnets navn</span>
                    <p>{{legeerklæring.barn.fornavn}} {{legeerklæring.barn.mellomnavn}} {{legeerklæring.barn.etternavn}}</p>
                </td>
                <td rowspan="2">
                    <span>Fødselsnummer / D-nummer</span>
                    <p>{{legeerklæring.barn.identifier}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Fødselsdato</span>
                    <p>{{legeerklæring.barn.birthDate}}</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="health_certificate_container">
        <h3>Legens vurdering av barnets tilstand</h3>
        <div class="health_assessment_container">
            <div class="text_content_container">
                <p class="text_content">{{legeerklæring.legensVurdering}}</p>
            </div>

            <table>
                <caption>Hoveddiagnose</caption>
                <tr>
                    <th>Diagnosekode</th>
                    <th>Diagnoseterm</th>
                </tr>
                <tr>
                    <td>{{legeerklæring.hoveddiagnose.code}}</td>
                    <td>{{legeerklæring.hoveddiagnose.text}}</td>
                </tr>
            </table>

            <table>
                <caption>Bidiagnose(r)</caption>
                <tr>
                    <th>Diagnosekode</th>
                    <th>Diagnoseterm</th>
                </tr>
                {{#each legeerklæring.bidiagnoser}}
                    <tr>
                        <td>{{code}}</td>
                        <td>{{text}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="health_certificate_tables">
            <table class="health_certificate_table">
                <caption>Periode(r) for innleggelse(r) på helseinstitusjon</caption>
                <tr>
                    <th>Fra og med dato</th>
                    <th>Til og med dato</th>
                </tr>
                {{#each legeerklæring.innleggelsesPerioder}}
                    <tr>
                        <td>{{start}}</td>
                        <td>{{end}}</td>
                    </tr>
                {{/each}}
            </table>

            <table class="health_certificate_table">
                <caption>Forventet varighet på tilsyns- og pleiebehovet</caption>
                <tr>
                    <th>Fra og med dato</th>
                    <th>Til og med dato</th>
                </tr>
                {{#each legeerklæring.tilsynPerioder}}
                    <tr>
                        <td>{{start}}</td>
                        <td>{{end}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
<div class="healthcare_info">
    <div class="healthcare_provider_container">
        <h3>Opplysninger om lege/sykehuset</h3>
        <table>
            <tr>
                <td>
                    <span>Legens navn</span>
                    <p>{{doctor.fornavn}} {{doctor.mellomnavn}} {{doctor.etternavn}}</p>
                </td>
                <td rowspan="2">
                    <span>Navn, adresse og telefonnummer til legen/sykehuset</span>
                    <div class="address">
                        <p>{{hospital.name}}</p>
                        <p>{{hospital.address.line1}}</p>
                        <p>{{hospital.address.line2}}</p>
                        <p>{{hospital.address.postalCode}} {{hospital.address.city}}</p>
                        <p>{{hospital.phoneNumber}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Legens HPR-nummer</span>
                    <p>{{doctor.hprNumber}}</p>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>